<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.handong.android.connect4">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SplashScreenTheme">
        <service
            android:name=".MusicService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".BackgroundSoundService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".multiplayer"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".RankingActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Connect4GameActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".NewGame_Settings"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>